.new-post{
	padding: 16px 0;
	border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header{
	margin-bottom: 20px;

}

.posts .post{
	padding-left: 10px;
	border-left: 3px solid #a21b24;

	margin-bottom: 30px;
}

.posts .post .info{
	color: #aaa;
	font-style: italic;
}

.error{
	border: 1px solid red;
	background-color: #f9b5af;
	color: red;
}

.success{
	border: 1px solid green;
	background-color: #d1f9da;
	color: green;
}

.error ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.error,
.success{
	text-align: center;
}

  .button{
        background-color: #e00707;
        border: 2px solid #000000;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }

    .imagensinperfil{
    	border: 2px solid #000000;
    	border-radius: 8px;
    }

    .image{
    	border-radius: 8px;
    }

.linea{
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.lineavertical{
	border-left: 1px solid #ccc;
}
